.custom-scrollbar {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #FACC15 #1F2937;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1F2937;
  border-radius: 100vh;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #FACC15;
  border-radius: 100vh;
  border: 2px solid #1F2937;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #EAB308;
}